*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.full0{
    background-color:#87509c;
    padding-top: 50px;
    padding-bottom: 100px;
}
.container{
    max-width: 1200px;
    margin: auto;
   
    
}
nav{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}
nav .checkbtn{
    font-size: 30px;
    color: white;
    line-height: 80px;
    cursor: pointer;
    display: none;
    float: right;

}
#check{
    display: none;
}
nav .logo {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 3px;

    
}
.menu li{
    list-style: none;
    display: inline;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding-left:20px;
    text-size-adjust: 2PX;
    letter-spacing: 3px;

}
.menu .active{
    background-color: rgba(73, 69, 68,0.7);
    padding: 10px;
    border-radius: 10px;
}
   
.container1{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
}
.container1 .main{
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.container1 .main h1{
    color: white;
    padding: 10px;
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 600;
}

.container1 .main .btn{
    margin-top: 2rem;
}
.btn button{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #eb7d4b;
    color: white;
    border: none;
    box-shadow: 2;
    cursor: pointer;
    
}
nav .menu li a:hover{
    background-color: #eb7d4b;
    padding: 10px;
    border-radius: 10px;
}
nav .logo:hover{
    color: #eb7d4b;
    text-shadow: -20px -11px 4px rgba(22, 23, 24, 0.4);
}
.btn button:hover{
    background-color:rgb(245, 74, 43);
    box-shadow: 7px 7px 8px rgba(24, 22, 22, 0.4);
}


@media only screen and (max-width: 768px){
    nav{
        flex-direction: column;
    }
    .container{
        text-align: center;
    }
    nav .logo {
        margin-bottom: 20px;
    }
    .container1 .main{        
        padding: 0px 10px;  
    }
    .container1 .main h1{
        font-size: 25px;
        font-weight: 400;
    }
    
}